body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007BFF;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

#add-course-btn {
  background: #2ea44f;
  color: white;
  border: none;
  border-radius: 4px;
  margin: auto;
  height: 28px;
  margin-top: 10px;
  display: block;
  cursor: pointer;
  /*   padding:5px; */
}

#add-course-btn:hover {
  opacity: 0.9;
}

#add-course-btn span {
  font-size: 20px;
  margin-right: 5px;
}

#course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.course-card {
  border: 1px solid #CCC;
  border-radius: 8px;
  width: 250px;
  height: 100%;
  padding: 10px;
  margin: 10px;
  /*    */
}

.course-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.course-name {
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.course-duration {
  font-size: 14px;
  align-self: 'flex-start';
}

.course-description {
  font-size: 14px;
  margin: 10px 0px;
}

.enroll-button {
  background: green;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;

}

/* Styling for the "Add Course" page */
#add-course-page {
  display: none;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #F7F7F7;
  border-radius: 8px;
}

#add-course-page h2 {
  margin-top: 0;
}

#add-course-page label {
  display: block;
  margin-top: 10px;
}

#add-course-page input,
#add-course-page textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

#add-course-page button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-course-page button[type="submit"] {
  background-color: #28A745;
}

#add-course-page button[type="button"] {
  background-color: #DC3545;
}

/* < !-- HTML !--><button class="button-3" role="button">Button 3</button> */

/* CSS */
.button-3 {
  appearance: none;
  /* background-color: ; */
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}